@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&family=Lato:wght@400;700&display=swap');

body {
  background-color: #284139;
  color: #e8e4d9;
  font-family: 'Casta', sans-serif;
}

@font-face {
    font-family: 'Casta';
    src: url('/fonts/Casta-Thin.otf') format('opentype');
}
