@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #284139;
  color: #e8e4d9;
  font-family: 'Casta', sans-serif;
}

@font-face {
    font-family: 'Casta';
    src: url('/fonts/Casta-Thin.otf') format('opentype');
}
